#masthead-title {
    padding-top: 220px;
    padding-bottom: 20px;
}

.news-with-image,
.news-with-image-text {
    display: flex;
}

.news-with-image {
    flex-direction: row;
    max-height: 300px;
}

.news-with-image-text {
    flex-direction: column;
}

.news-with-image-image {
    max-height: 200px;
    border-radius: 4px;
}

.news-item {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 10px;
}